<%- include('../partials/header', {title:'Tuyen Xe'}) %>
    <html>

    <body>
        <link rel="stylesheet" href="/stylesheets/lichtrinh.css">
        <h2 class="text-center" style="color: #EF6164;">Tìm Tuyến xe:
            <% if ((di !==undefined && di !=='' ) ) { %>
                Điểm đi: <%= di %>
                    <% } %>

                        <% if ((den !==undefined && den !=='' ) ) { %>
                            Điểm đến: <%= den %>
                                <% } %>
        </h2>
        <% if (selectedOption==='nosql' ) { %>
            <div class="search-container-tuyen-xe">
                <form action="/nosql/tuyenxe" method="POST"> <!-- Sử dụng phương thức POST và cập nhật action -->
                    <div class="search-bar-tuyen-xe">
                        <input type="text" name="diemDi" id="diem-di-input" placeholder="Nhập điểm đi...">
                        <input type="text" name="diemDen" id="diem-den-input" placeholder="Nhập điểm đến...">
                        <button type="submit" class="search-bar-tuyen-xe">Tìm Tuyến xe</button>
                        <!-- Sử dụng button submit để gửi form -->
                    </div>
                </form>
            </div>
            <% } else { %>
                <div class="search-container-tuyen-xe">
                    <form action="/sql/tuyenxe" method="POST"> <!-- Sử dụng phương thức POST và cập nhật action -->
                        <div class="search-bar-tuyen-xe">
                            <input type="text" name="diemDi" id="diem-di-input" placeholder="Nhập điểm đi...">
                            <input type="text" name="diemDen" id="diem-den-input" placeholder="Nhập điểm đến...">
                            <button type="submit" class="search-bar-tuyen-xe">Tìm Tuyến xe</button>
                            <!-- Sử dụng button submit để gửi form -->
                        </div>
                    </form>
                </div>
                <% } %>

                    <div class="bottom-margin">
                        <div class="container">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="item">Tuyến xe</span>
                                <span class="item">Loại xe</span>
                                <span class="item">Quãng đường</span>
                                <span class="item" style="margin-right: 25px;">Thời gian hành trình</span>
                                <span class="item" style="margin-left: 15px;">Giá vé</span>
                            </li>
                        </div>
                    </div>
                    <div class="bottom-margin">
                        <div class="container">
                            <% TuyenXes.forEach(function(tuyenXe) { %>
                                <ul class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="grid-container">
                                        <div class="item" style="width: 260px;">
                                            <%= tuyenXe.HanhTrinh %>
                                        </div>
                                        <div class="item" style="width: 90px; margin-left: 35px;">
                                            <%= tuyenXe.LoaiXe %>
                                        </div>
                                        <div class="item" style="width: 100px; margin-left: -20px;">
                                            <%= tuyenXe.QuangDuong %>km
                                        </div>
                                        <div class="item" style="width: 150px; margin-left: -20px;">
                                            <%= tuyenXe.ThoiGian %>
                                        </div>
                                        <div class="item" style="width: 233px; margin-left: 0.01%;">
                                            <%= tuyenXe.GiaVe %>
                                        </div>
                                        <button class="custom-button1">Tìm chuyến xe</button>
                                    </div>

                                </ul>
                                <% }); %>
                        </div>
                    </div>

    </body>

    </html>